{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}!{% endblock %}

{% block body %}
<h1>Hello {{ app.user.username }}!</h1>
<a href="http://www.api-admin.daquignie-matthias.fr/admin" Target="_blank" >Click ICI!</a>
{% endblock %}